<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

main {
  background-color: #f5f5f5;
  height: 420px;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Dice*/
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  cursor: pointer;
  padding: 2px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
}

.__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.__2 {
  width: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.__2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.__3 {
  width: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.__3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.__3 .dot:nth-of-type(2) {
  align-self: center;
}

.__4 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.__5 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__5 .column:nth-of-type(2) {
  justify-content: center;
}

.__5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.__6 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rolldBtn {
  background-color: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 130px;
  height: 70px;
  font-family: "Karla";
  font-size: 16px;
  cursor: pointer;
}

.rolldBtn:focus {
  outline: none;
}

.rolldBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Text */
.title {
  font-size: 40px;
  margin: 0;
}

.instructions,
.timer,
.bestTime,
.rolls {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

/* Animation */
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*Mobile tweaks*/
@media only screen and (max-width: 600px) {
  main {
    max-width: 350px;
  }

  .die-face {
    width: 45px;
    height: 45px;
  }
}
||||||| empty tree
=======
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

main {
  background-color: #f5f5f5;
  height: 420px;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Dice*/
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  cursor: pointer;
  padding: 2px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
}

.__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.__2 {
  width: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.__2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.__3 {
  width: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.__3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.__3 .dot:nth-of-type(2) {
  align-self: center;
}

.__4 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.__5 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__5 .column:nth-of-type(2) {
  justify-content: center;
}

.__5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.__6 {
  padding: 5px;
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.__6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rolldBtn {
  background-color: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 130px;
  height: 70px;
  font-family: "Karla";
  font-size: 16px;
  cursor: pointer;
}

.rolldBtn:focus {
  outline: none;
}

.rolldBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Text */
.title {
  font-size: 40px;
  margin: 0;
}

.instructions,
.timer,
.bestTime,
.rolls {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

/* Animation */
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*Mobile tweaks*/
@media only screen and (max-width: 600px) {
  main {
    max-width: 350px;
  }

  .die-face {
    width: 45px;
    height: 45px;
  }
}


/* SplashScreen */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loading-container {
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  border-radius: 50%;
}

.loading-animation {
  display: flex;
  justify-content: center;
}

.dot1,
.dot2,
.dot3 {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #59E391;
  border-radius: 50%;
  animation: loading 0.6s infinite ease-in-out;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
    height: 150px;
  }
}
>>>>>>> gh-pages
